@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500;600&display=swap');

body {
  font-size: 18px;
  color: #111;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

html {
	max-width: 100%;
	margin: 0 auto;
}

.header {
    width: 86% !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 48px;
    background-color: #FFFFFF;
}

.main-container {
    width: 86% !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.search-form {
    width: 100%; 
    margin: 0 auto; 
    padding: 10px; 
    padding-bottom: 30px; 
    background-color: #e8e9ea;
}

.container {
    min-width: 100vw !important;
}

/* font styles */
/* 400, 500, 600 */
.fnt-norm-b { 
    font-family: "Saira";
    font-weight: 600;
}

.fnt-norm-m { 
    font-family: "Saira";
    font-weight: 500;
}

.fnt-norm-r { 
    font-family: "Saira";
    font-weight: 400;
}

.fnt-semcon-b { 
    font-family: "Saira Semi Condensed"; 
    font-weight: 600;
}

.fnt-semcon-m { 
    font-family: "Saira Semi Condensed"; 
    font-weight: 500;
}

.fnt-semcon-r { 
    font-family: "Saira Semi Condensed"; 
    font-weight: 400;
}

.fnt-con-b { 
    font-family: "Saira Condensed";
    font-weight: 600;
}

.fnt-con-m { 
    font-family: "Saira Condensed";
    font-weight: 500;
}

.fnt-con-r { 
    font-family: "Saira Condensed";
    font-weight: 400;
}

.fnt-extcon-b { 
    font-family: "Saira Extra Condensed";
    font-weight: 600;
}	

.fnt-extcon-m { 
    font-family: "Saira Extra Condensed";
    font-weight: 500;
}	

.fnt-extcon-r { 
    font-family: "Saira Extra Condensed";
    font-weight: 400;
}

.italic {
    font-style: italic;
}

.fs-largest {
    font-size: 150%;
}

.fs-large {
    font-size: 125%;
}

.fs-medium {
    font-size: 100%;
}

.fs-small {
    font-size: 80%;
}

.fs-smallest {
    font-size: 60%;
}

/* card styles */
.card-item {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
    -webkit-column-break-inside: avoid;
    font-size: 14px;
    cursor: pointer;
}

.card-item:hover {
    background-color: #f5f5f5;
}

.border-bottom-thick {
    border-bottom: 2px solid #111111;    
}

.border-bottom-thin {
    border-bottom: 1px solid #666666;    
}

.card-text {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

/* Num columns based on screen width */
.card-view {
	column-count: 3;
	column-gap: 10px;
}

@media screen and (max-width: 2000px) {
  .card-view {
	column-count: 3;
	column-gap: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .card-view {
	column-count: 2;
	column-gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .card-view {
	column-count: 1;
	column-gap: 10px;
  }
}

/* modifications to standard elements */

/* for switch styled checkboxes */
.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked:active {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:active {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23333'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23333'/%3e%3c/svg%3e");
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23666'/%3e%3c/svg%3e");
}

/* will also affect radio inputs */
.form-check-input:checked {
    background-color: #111111 !important;
    border-color: #111111 !important;
}

.form-check-input:active {
    background-color: #000000 !important;
    border-color: #111111 !important;
}

.form-check-input {
    border-color: #666666 !important;
    box-shadow: 0 0 1px #666666 !important;
    border-color: #666666 !important;
}

a {
	color: black;
    text-decoration: none;
}

ul {
  list-style-type: none;
  border-color: #000;
  border-width: 5px;
  margin: 0;
  padding: 0;
  font-size: 80%;
}

li {
  border-color: #000;
  border-width: 5px;	
  line-height: 130%;
  font-size: 100%;
}

.border-top {
    border-top: 5px solid  black !important;
    z-index: 999;
}

.border-bottom {
    border-bottom: 5px solid  black !important;
    z-index: 999;
}

/* custom low profile scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}

body::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

body::-webkit-scrollbar-thumb:active {
  background: #111111;
}